.members {
  margin-top: 10rem;
}

.title {
  color: var(--color-tertiary);
}

.list {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: var(--color-white);
  gap: 1.5rem;
}

.icon {
  width: 5rem;
  height: 5rem;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  margin: 0;
}

.name {
  margin: 0;
  padding: 0;
}

.job {
  margin: 0;
  padding: 0;
}
